*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration:none;
}
.header{
    width: 100%;
    height: 88px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    /*overflow: hidden;*/

}
.header_1{
    width: 205px;
    height: 60px;
    margin-top: 14px;
    float: left;
}
.header_1 img{
    display: block;
    width: 100%;
}
.header_2{
    width: 64px;
    height: 22px;
    font-size: 16px;
    color: #8d9095;
    line-height: 22px;
    text-align: center;
    float: left;
    margin-top: 41px;
    margin-left: 31px;
    font-weight: bold;
}
.header ul{
    width: 600px;
    height: 44px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;

}
.header ul li{
    width: 85px;
    height: 100%;
    float: left;
    position: relative;
    border: 1px solid #fff;
    box-sizing: border-box;

}
.header ul li:nth-child(2){
    border: 1px solid #005e58;
    box-sizing: border-box;
    background-image:-webkit-linear-gradient(top,#00c3b6,#005e58);
}

.header ul li:hover{
    border: 1px solid #005e58;
    background-image:-webkit-linear-gradient(top,#00c3b6,#005e58);
}
.header ul li:hover .header_3{
    color: #fff;
}
.header_under{
    width: 168px;
    height: 77px;
    background: #fff;
    position: absolute;
    bottom:-78px;
    left:-1px;
    z-index: 998;
    display: none;
}
.header ul li:hover .header_under{

    display: block;
}
.header_under_top{
    width: 100%;
    height: 38px;
    background: #005e58;
}
.header_under_top:hover a{
    background: #fff;
    color: #666;
}
.header_under_top a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color:#fff;
    line-height: 36px;
}
.header_under_bottom{
    width: 100%;
    height: 38px;
    margin-top: 1px;
    background: #005e58;
}
.header_under_bottom:hover a{
    background: #fff;
    color: #666;
}
.header_under_bottom a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color:#fff;
    line-height: 36px;
}
.header_3{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #333;
    line-height: 44px;
    text-align: center;
}
.header_3_1{
    color: white;
}
.header_4{
    width: 112px;
    height: 43px;
    background: #006352;
    border: 2px solid #555555;
    border-radius: 10px;
    float: right;
    margin-top: 20px;
    margin-right: 99px;
}
.header_4 a{
    display: block;
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    line-height: 43px;
    text-align: center;
}
.body_img{
    width: 100%;
    height: 219px;
    background: url("../img/436d7ab1ac4afad97e0115f0214ec7cf (1).jpg")no-repeat top;
    background-size: 100% auto;
}
.body_span{
    width: 100%;
    height: 60px;
    overflow: hidden;
    /*background: #8d9095;*/
}
.body_span span{
    display: block;
    width: 500px;
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
    color: #8d9095;
    line-height: 40px;
    /*text-align: center;*/
    margin-left: 41px;
}
.body_span span a{
    color: #77a9ff;
}
.body_show{
    width: 100%;
    height: 454px;
}
.body_show_nk{
    width: 1139px;
    height: 100%;
    margin: 0 auto;
}
.body_show_header{
    width: 100%;
    height: 80px;
    /*background: #8d9095;*/
    position: relative;

}
.body_show_header h3{
    width: 300px;
    height: 50px;
    font-size: 24px;
    color: #333;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    font-weight: normal;
}
.body_show_header1{
    width: 400px;
    height: 1px;
    background: #e2e2e2;
    position: absolute;
    left:0;
    bottom:30px;
}
.body_show_header2{
    width: 400px;
    height: 1px;
    background: #e2e2e2;
    position: absolute;
    right:0;
    bottom:30px;
}
.body_show_header span{
    width: 100%;
    height: 25px;
    position: absolute;
    font-size: 15px;
    color: #494949;
    line-height: 25px;
    text-align: center;
}
.body_show_img_header{
    width: 479px;
    height: 60px;
    margin: 0 auto;
    /*background: #8d9095;*/
    overflow: hidden;
}
.body_show_img_header li:first-child{
    width: 100px;
    height: 20px;
    margin-top:20px;
    float: left;
    font-weight: bold;
}
.body_show_img_header li:nth-child(2){
    width: 100px;
    height: 20px;
    margin-top:20px;
    float: left;

}
.body_show_img_header li:nth-child(3){
    width: 119px;
    height: 20px;
    margin-top:20px;
    float: left;

}
.body_show_img_header li:nth-child(4){
    width: 60px;
    height: 20px;
    margin-top:20px;
    float: left;

}
.body_show_img_header li:last-child{
    width: 100px;
    height: 20px;
    margin-top:20px;
    float: left;

}
.body_show_img_header li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #6b73c4;
    line-height: 20px;
    text-align: center;
}
.body_show_img{
    width: 100%;
    height: 234px;
    display: flex;
    justify-content:space-between;
    align-items:center;

}
.body_show_img li{
    width: 207.7px;
    height: 208px;
}

.body_show_img li a{
    display: block;
    width: 100%;
    height: 100%;
}
.body_show_img li img{
    display: block;
    width: 100%;
}
.body_introduction{
    width: 100%;
    height: 497px;
}
.body_introduction_nk{
    width: 1132px;
    height: 452px;
    margin: 0 auto;
}
.body_introduction_left{
    width: 322px;
    height: 427px;
    /*background: #8d9095;*/
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}
.body_introduction_right{
    width: 740px;
    float: right;
    margin-top: 30px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 24px;
    color:#000000;
}
.body_introduction_left img{
    display: block;
    width: 100%;
}
.body_introduction_left img:last-child{
    margin-top: 19px;
}
.fxd{
    width: 100%;
    height: 50px;
    overflow: hidden;
}
.fxd span{
    display: block;
    margin-left: 50px;
    margin-right: 5px;
    margin-top: 3px;
    font-size: 16px;
    color: #333;
    float: left;

}
.fxd i{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    padding:1px;
    background: #fdbe3d;
    float: left;
    border-radius: 50%;
    position: relative;
}
.icon-QQkongjian{
    font-size: 19px;
    color:#fff;
    /*line-height: 21px;*/
    text-align: center;
}
.icon-xinlangweibo{
    font-size: 19px;
    color: #fff;
    text-align: center;
    line-height: 20px;

}
.icon-guanyu,.icon-weixn{
    font-size: 21px;
    color: #fff;
    text-align: center;
    line-height: 22px;
}
.fxd>i:nth-child(3){
    background: #ff763b;
}
.fxd>i:nth-child(4){
    background: #55bfed;
}
.fxd>i:nth-child(5){
    background: #a3d681;
}
.fxd a{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top:0;
    left:0;
}
.last{
    width: 100%;
    height: 256px;
    background: #3e3e3e;
    overflow: hidden;
}
.last_nk{
    width: 935px;
    height: 216px;
    background: #333;
    margin: 21px auto 0;
}
.last_header{
    width: 568px;
    height: 54px;
    margin: 0 auto;
}
.last_header li{
    width: 81px;
    height: 100%;
    float: left;
}
.last_header li a{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    font-size: 14px;
    color: #c9c9c9;
    line-height: 30px;
    text-align: center;
}
.last_body{
    width: 100%;
    height: 118px;
    /*margin-top: 5px;*/
}
.last_body img{
    display: block;
    width: 130px;
    height: 118px;
    margin: 0 auto;
}
.last_nk span{
    display: block;
    width: 100%;
    height: 24px;
    margin-top: 20px;
    font-size: 14px;
    color: #acacac;
    line-height: 24px;
    text-align: center;
}
.miaolj{
    width: 34px;
    height: 34px;
    background: #c4c4c4;
    border-radius: 50%;
    position: fixed;
    right:16px;
    bottom:26px;
}
.miaolj a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}