*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration:none;
}

.header{
    width: 100%;
    height: 88px;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;

}
.header_1{
    width: 205px;
    height: 60px;
    margin-top: 14px;
    float: left;
}
.header_1 img{
    display: block;
    width: 100%;
}
.header_2{
    width: 64px;
    height: 22px;
    font-size: 16px;
    color: #8d9095;
    line-height: 22px;
    text-align: center;
    float: left;
    margin-top: 41px;
    margin-left: 31px;
}
.header ul{
    width: 600px;
    height: 44px;
    float: right;
    margin-right: 30px;
    margin-top: 30px;

}
.header ul li{
    width: 85px;
    height: 100%;
    /*margin-left: 10px;*/
    /*margin-right: 13px;*/
    float: left;
}
.header_3{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #333;
    line-height: 44px;
    text-align: center;
}
.header_4{
    width: 112px;
    height: 43px;
    background: #006352;
    border: 2px solid #555555;
    border-radius: 10px;
    float: right;
    margin-top: 20px;
    margin-right: 99px;
}
.header_4 a{
    display: block;
    width: 122px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    line-height: 43px;
    text-align: center;
}
.body{
    width: 100%;
    height: 417px;
}
.body ul{
    width: 100%;
    height: 100%;
    position: relative;
}
.body ul li{
    width: 100%;
    height: 100%;
   /*background: red;*/
    position: absolute;
    top:0;
    left:0;
}
.body ul li a{
    display: block;
    width: 100%;
    height: 100%;
}
.body ul li img{
    display: block;
    height: 100%;
}
.bqlogo{
    width: 100%;
    height: 111px;
    background: #fff;
    overflow: hidden;
}
.bqlogo ul{
    width: 1139px;
    height: 105px;
    margin: 3px auto 0;
    display: flex;
    justify-content:space-between;
}
.bqlogo ul li{
    width: 321px;
    height: 100%;
    border: 1px solid #f1f1f1;
    box-sizing: border-box;
    overflow: hidden;
}
.bqlogo_img{
    width: 64px;
    height: 55px;
    /*background: red;*/
    margin: 10px auto 0;
}
.bqlogo_img img{
    display: block;
    width: 100%;
}
.bqlogo h4{
    width: 100%;
    height: 25px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}
.bqlogo_a{
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    margin-top: 15px;
}
.tupian{
    width: 100%;
    height: 550px;
}
.tupian ul{
    width: 1139px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
.tupian ul li{
    width: 367px;
    height: 258px;
    position: relative;
}
.tupian1{
    background: url("../img/aHR0cDovL3d3dy55c2xlbWVpLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDEvMjllNDgwOWNkOWIxZGIxMjEzZmYzMjM2YjRjYzU3NWQuanBn.jpg")no-repeat center;

}
.tupian2{
    background: url("../img/fdshhgfjd.jpg")no-repeat center;
}
.tupian3{
    background: url("../img/aHR0cDovL3d3dy55c2xlbWVpLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDIvZmNjYmVmYjQ0MGI4YzUxNDIyMGE3ZTIyODcwZDYxOTcuanBn.jpg") no-repeat center;
}
.tupian4{
    background: url("../img/aHR0cDovL3d3dy55c2xlbWVpLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDIvZjFhNDc4NGM3Y2MxZTNhOTgyOTNjMzEwY2U5ZjNlYmMuanBn.jpg") no-repeat center;
}
.tupian5{
    background: url("../img/aHR0cDovL3d3dy55c2xlbWVpLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDIvOGQ1MWQyZGEwZmI4OTM3OWZkYTNiNDUxZGNmMWMzM2MuanBn.jpg") no-repeat center;
}
.tupian6{
    background: url("../img/aHR0cDovL3d3dy55c2xlbWVpLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTgvMDIvZmI2MWU4YmJhZWJlMjAxNGU3MWU2M2U1ZTBkOTM3YTMuanBn.jpg") no-repeat center;
}
.tupian a{
    display: block;
    width: 100%;
    height: 100%;
}
.tupian_bottom{
    width: 100%;
    height: 65px;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom:0;
    overflow: hidden;
}
.tupian h6{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}
.tupian span{
    display: block;
    width: 100%;
    height: 20px;
    font-size: 12px;
    color:#fff;
    line-height: 20px;
    text-align: center;
}